// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


.link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  &::hover {
    color: #0056b3;
    text-decoration: underline;
  }
}