.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f9;
  .login-container {
    min-height: 70vh;
    width: 100%;
    max-width: 330px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.31);
    padding: 15px;
    margin: 0 auto;
  }
  .nav-item {
    cursor: pointer;
  }
  .disabled {
    cursor: not-allowed;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin {
  .first {
    margin-top: 20px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .middle {
    border-radius: 0;
    margin-bottom: -1px;
  }
  .last {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .reusable-dropdown, .reusable-ms-dropdown {
    width: 300px;
    &-box {
      position: relative;
      &-default {
        height: 46px;
        font-size: 16px;
        margin-bottom: -1px;
        &:before {
          display: none;
        }
      }
      &-clear {
        display: none;
      }
    }
    &-container {
      &-list {
        &-item {
          font-size: 16px;
        }
      }
    }
  }
}
