// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-layout {
  background: #007bff;
  color: #fff;
  height: 60px;
  .nav-item {
    .nav-link {
      font-size: 15px;
      cursor: pointer;
      color: #fff;
    }
  }
}